<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.main.MainMapper">
    <select id="getMainTour">
        SELECT B.nm AS name, A.tour_id AS tourId, A.title, A.tour_location AS tourLocation
        , A.tour_startday AS tourStartDay, A.tour_finishday AS tourFinishDay
        , A.tour_Budget AS tourBudget, A.created_at AS createdAt, A.updated_at AS updatedAt
        FROM tour A
        RIGHT JOIN user B
        ON A.user_id = B.user_id
        WHERE B.user_id = #{signedUserId} AND A.tour_startday >= current_date
        ORDER BY tour_startday, tour_id
        LIMIT 1
    </select>
    <select id="getMainChecklist">
        SELECT checklist_id AS checklistId, title, checked
        FROM tour_checklist
        WHERE tour_id = #{tourId}
    </select>
</mapper>