.footer{
    width: 100%;
    height: 50px;
    background-color: palegreen;
}
.footer-inner{
    max-width: 1440px;
    width: 100%;
    background-color: aqua;
    height: 100%;
    margin: 0 auto;
}